* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 85px;
}

.navbar ul li,
.footer ul li {
  display: inline-block;
  margin: 0 10px;
}

.hero-sec {
  background-image: url(./img1.svg);
  height: 90vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  letter-spacing: 5px;
}

.hero-sec h1 {
  text-align: center;
  cursor: pointer;
}

.about-sec {
  background-image: url(./img2.svg);
  height: 70vh;
  background-size: cover;
  padding: 100px;
}

.about-sec h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about-sec .social {
  float: right;
  opacity: 0.5;
}

.contact-sec {
  background-image: url(./img4.svg);
  height: 70vh;
  background-size: cover;
  padding: 100px;
}

.formarea {
  background: rgba(0, 0, 0, 0.3);
  padding: 50px 100px 65px;
  border-radius: 10px;
  color: #fff;
  float: right;
  margin-right: 20vmin;
  width: 500px;
}

.formarea h2 {
  text-align: center;
  font-size: 35px;
}

form label {
  letter-spacing: 0.15em;
  font-size: 13px;
  color: #b5b3b3;
}

form input,
form textarea {
  margin: 10px 0 20px;
  padding: 5px;
  background: #444;
  border: #000;
  border-bottom: 1px solid #44f;
  color: #fff;
  width: 100%;
}

.main {
  width: 100%;
  height: 100px;
  background-color: #141618;
  display: flex;
}

.box {
  width: 45vw;
  padding: 40px 40px 80px;
  background: rgba(0, 0, 0, 0.4);
  line-height: 1.7;
  border-left: 1px solid rgba(255, 255, 0, 0.3);
}

.box img {
  width: 100px;
  border-radius: 50% 50%;
  box-shadow: 0 0 0 1px #000;
  float: left;
  margin: 10px 30px 30px 10px;
  opacity: 0.7;
}

.box p {
  color: #b5b3b3;
  font-size: 18px;
}

.btn {
  background: #44f;
  border: none;
  color: #fff;
  border-radius: 1000px 1000px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  outline: 0;
}

.footer {
  width: 100%;
  height: 30vh;
  background-color: #141618;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr {
  width: 80vw;
  opacity: 0.1;
}

.footer p {
  opacity: 0.7;
  color: #b5b3b3;
  font-size: 18px;
}

.social i {
  font-size: 25px;
  padding: 0 10px;
}

.footer ul,
.footer hr,
.footer p {
  margin-bottom: 30px;
}
